[dark] {
  --t7f4f2c6d54836ce0: rgba(255, 255, 255, 0.1);
  --t7d8b8e5ee291aec0: rgba(0, 0, 0, 0.05);
  --t4726c68ef6d7b08f: rgba(0, 63, 13, 0.6);
  --tf0a0d1154827847f: rgba(124, 41, 0, 0.6);
  --t3e41d7b17b187f69: #0f0f0f;
  --t854c79338d8ca8a7: #f57;
  --t20480717de80f555: rgba(255, 255, 255, 0.2);
  --t2d807bb79e75606d: #3ea6ff;
  --t617db776af0de196: #65b8ff;
  --tb628117fc164ad87: #065fd4;
  --td545df04e2c659d7: #f57;
  --t53991d599b1488f5: #c30027;
  --ta889dfda9605a358: rgba(15, 15, 15, 0.8);
  --t5978da8d584b8fe9: rgba(15, 15, 15, 0.7);
  --tdbe50d27d51f5093: rgba(0, 122, 101, 0.3);
  --t99f774684cbb9703: rgba(127, 14, 127, 0.3);
  --tb8b31ac562fbe9b5: rgba(170, 9, 170, 0.3);
  --tef70ca245445b52b: rgba(255, 78, 69, 0.3);
  --tf8fb1d9db0d6e1f6: rgba(255, 255, 255, 0.3);
  --t1405e70a39276293: #f1f1f1;
  --tad8443faed66c111: #d9d9d9;
  --te6d2b428de68554a: #171c23;
  --tc980c5478124c8c7: #d5e3fc;
  --t965644ecdbe4b7b8: #2b3138;
  --tb14a10c3b43a15a3: #171c23;
  --tb13ff8797829e79e: #2b3138;
  --te5668e6111aba0ed: #42474f;
  --ta7d628facfe84d18: #a0abcb;
  --tbe42269534655e67: #30353b;
  --tab8059236063cadb: #ecf1fb;
  --t735e435a8b7ad67c: #fff;
  --t21af08fdbf6a1406: #fff;
  --tc604113d09fee05d: #c5cbd4;
  --t08a7c6c176cbc5c2: #282828;
  --t8cdc9846a76caf1f: #d9d9d9;
  --te1b64e6971040396: #272727;
  --t416e5931fc464589: rgba(255, 255, 255, 0.2);
  --tb7d74bb3291c951d: rgba(0, 0, 0, 0.1);
  --tf3fc855af2285f5f: rgba(255, 255, 255, 0.2);
  --t0a1249f7c9e82b5e: rgba(0, 0, 0, 0.1);
  --t02c0a2c868c14ce8: #e5e5e5;
  --td8562cdc203bc683: #3f3f3f;
  --t53dda9125e8d1324: rgba(255, 255, 255, 0.15);
  --t518e925f61bdcb91: #212121;
  --t296c7f81dd09a9c3: #fff;
  --tfa3475c508f5dfef: #263850;
  --t9bc0b740242da017: #515561;
  --t441a0e44e495381a: #def1ff;
  --tde41338fc2bd4ba5: #fff;
  --t4d7776c28db21122: #a4ffa4;
  --t7e34d5baa4ea6277: #717171;
  --tc4b26042d4cb141f: #909090;
  --t5208fd177a788cfa: #ffbfbd;
  --tffc2fd3a644f6275: #f1f1f1;
  --t6216186c28b3834b: #0f0f0f;
  --t4a6da19e16bf221a: #aaa;
  --td9c19f4f8cecd56e: #606060;
  --t3f3bdb4140d3ead7: #ffcd97;
  --t904a88c623ca27ab: #2ba640;
  --t2c3bbff6c15a3eb2: #107516;
  --t0ccd1ace000d5e93: rgba(0, 0, 0, 0.8);
  --t7c4965c11f8537c0: rgba(255, 255, 255, 0.15);
  --taf1bdd961423c15f: rgba(255, 255, 255, 0.05);
  --t4fb0f67b251e1a42: #fff;
  --ta08e036410c14538: #000;
  --t7f9b7e1603e20b94: #fff;
}
:root {
  --t4726c68ef6d7b08f: #deffde;
  --tf0a0d1154827847f: #ffeacf;
  --tdbe50d27d51f5093: rgba(0, 122, 101, 0.2);
  --t99f774684cbb9703: rgba(127, 14, 127, 0.2);
  --tb8b31ac562fbe9b5: rgba(170, 9, 170, 0.2);
  --tef70ca245445b52b: rgba(255, 78, 69, 0.2);
  --tad8443faed66c111: #3f3f3f;
  --te6d2b428de68554a: #ecf1fb;
  --tc980c5478124c8c7: #a6c9fa;
  --t965644ecdbe4b7b8: #ecf1fb;
  --tb14a10c3b43a15a3: #fff;
  --tb13ff8797829e79e: #fff;
  --te5668e6111aba0ed: #dbe2fc;
  --ta7d628facfe84d18: #bbc6e7;
  --tbe42269534655e67: #caced6;
  --tab8059236063cadb: #171c23;
  --t735e435a8b7ad67c: #666;
  --t21af08fdbf6a1406: #2f3032;
  --tc604113d09fee05d: #46494f;
  --t4d7776c28db21122: #005917;
  --t5208fd177a788cfa: #990412;
  --t3f3bdb4140d3ead7: #7c2900;
  --t7f4f2c6d54836ce0: rgba(0, 0, 0, 0.05);
  --t7d8b8e5ee291aec0: rgba(255, 255, 255, 0.1);
  --t3e41d7b17b187f69: #fff;
  --t854c79338d8ca8a7: #c30027;
  --t20480717de80f555: rgba(0, 0, 0, 0.1);
  --t2d807bb79e75606d: #065fd4;
  --t617db776af0de196: #0556bf;
  --tb628117fc164ad87: #3ea6ff;
  --td545df04e2c659d7: #c30027;
  --t53991d599b1488f5: #f57;
  --ta889dfda9605a358: rgba(255, 255, 255, 0.9);
  --t5978da8d584b8fe9: rgba(255, 255, 255, 0.9);
  --tf8fb1d9db0d6e1f6: rgba(255, 255, 255, 0.15);
  --t1405e70a39276293: #0f0f0f;
  --t08a7c6c176cbc5c2: #fff;
  --t8cdc9846a76caf1f: #272727;
  --te1b64e6971040396: #d9d9d9;
  --t416e5931fc464589: rgba(0, 0, 0, 0.1);
  --tb7d74bb3291c951d: rgba(255, 255, 255, 0.2);
  --tf3fc855af2285f5f: rgba(0, 0, 0, 0.1);
  --t0a1249f7c9e82b5e: rgba(255, 255, 255, 0.2);
  --t02c0a2c868c14ce8: #3f3f3f;
  --td8562cdc203bc683: #e5e5e5;
  --t53dda9125e8d1324: rgba(255, 255, 255, 0.3);
  --t518e925f61bdcb91: #fff;
  --t296c7f81dd09a9c3: rgba(0, 0, 0, 0.6);
  --tfa3475c508f5dfef: #def1ff;
  --t9bc0b740242da017: #dadfe6;
  --t441a0e44e495381a: #263850;
  --tde41338fc2bd4ba5: #000;
  --t7e34d5baa4ea6277: #909090;
  --tc4b26042d4cb141f: #717171;
  --tffc2fd3a644f6275: #0f0f0f;
  --t6216186c28b3834b: #fff;
  --t4a6da19e16bf221a: #606060;
  --td9c19f4f8cecd56e: #aaa;
  --t904a88c623ca27ab: #107516;
  --t2c3bbff6c15a3eb2: #2ba640;
  --t0ccd1ace000d5e93: rgba(255, 255, 255, 0.7);
  --t7c4965c11f8537c0: rgba(0, 0, 0, 0.05);
  --taf1bdd961423c15f: rgba(255, 255, 255, 0.2);
  --t4fb0f67b251e1a42: #000;
  --ta08e036410c14538: #fff;
  --t7f9b7e1603e20b94: #000;
  --t7f4f2c6d54836ce0: rgba(255, 255, 255, 0.1);
  --t7d8b8e5ee291aec0: rgba(0, 0, 0, 0.05);
  --t4726c68ef6d7b08f: rgba(0, 63, 13, 0.6);
  --tf0a0d1154827847f: rgba(124, 41, 0, 0.6);
  --t3e41d7b17b187f69: #0f0f0f;
  --t854c79338d8ca8a7: #f57;
  --t20480717de80f555: rgba(255, 255, 255, 0.2);
  --t2d807bb79e75606d: #3ea6ff;
  --t617db776af0de196: #65b8ff;
  --tb628117fc164ad87: #065fd4;
  --td545df04e2c659d7: #f57;
  --t53991d599b1488f5: #c30027;
  --ta889dfda9605a358: rgba(15, 15, 15, 0.8);
  --t5978da8d584b8fe9: rgba(15, 15, 15, 0.7);
  --tdbe50d27d51f5093: rgba(0, 122, 101, 0.3);
  --t99f774684cbb9703: rgba(127, 14, 127, 0.3);
  --tb8b31ac562fbe9b5: rgba(170, 9, 170, 0.3);
  --tef70ca245445b52b: rgba(255, 78, 69, 0.3);
  --tf8fb1d9db0d6e1f6: rgba(255, 255, 255, 0.3);
  --t1405e70a39276293: #f1f1f1;
  --tad8443faed66c111: #d9d9d9;
  --te6d2b428de68554a: #171c23;
  --tc980c5478124c8c7: #d5e3fc;
  --t965644ecdbe4b7b8: #2b3138;
  --tb14a10c3b43a15a3: #171c23;
  --tb13ff8797829e79e: #2b3138;
  --te5668e6111aba0ed: #42474f;
  --ta7d628facfe84d18: #a0abcb;
  --tbe42269534655e67: #30353b;
  --tab8059236063cadb: #ecf1fb;
  --t735e435a8b7ad67c: #fff;
  --t21af08fdbf6a1406: #fff;
  --tc604113d09fee05d: #c5cbd4;
  --t08a7c6c176cbc5c2: #282828;
  --t8cdc9846a76caf1f: #d9d9d9;
  --te1b64e6971040396: #272727;
  --t416e5931fc464589: rgba(255, 255, 255, 0.2);
  --tb7d74bb3291c951d: rgba(0, 0, 0, 0.1);
  --tf3fc855af2285f5f: rgba(255, 255, 255, 0.2);
  --t0a1249f7c9e82b5e: rgba(0, 0, 0, 0.1);
  --t02c0a2c868c14ce8: #e5e5e5;
  --td8562cdc203bc683: #3f3f3f;
  --t53dda9125e8d1324: rgba(255, 255, 255, 0.15);
  --t518e925f61bdcb91: #212121;
  --t296c7f81dd09a9c3: #fff;
  --tfa3475c508f5dfef: #263850;
  --t9bc0b740242da017: #515561;
  --t441a0e44e495381a: #def1ff;
  --tde41338fc2bd4ba5: #fff;
  --t4d7776c28db21122: #a4ffa4;
  --t7e34d5baa4ea6277: #717171;
  --tc4b26042d4cb141f: #909090;
  --t5208fd177a788cfa: #ffbfbd;
  --tffc2fd3a644f6275: #f1f1f1;
  --t6216186c28b3834b: #0f0f0f;
  --t4a6da19e16bf221a: #aaa;
  --td9c19f4f8cecd56e: #606060;
  --t3f3bdb4140d3ead7: #ffcd97;
  --t904a88c623ca27ab: #2ba640;
  --t2c3bbff6c15a3eb2: #107516;
  --t0ccd1ace000d5e93: rgba(0, 0, 0, 0.8);
  --t7c4965c11f8537c0: rgba(255, 255, 255, 0.15);
  --taf1bdd961423c15f: rgba(255, 255, 255, 0.05);
  --t4fb0f67b251e1a42: #fff;
  --ta08e036410c14538: #000;
  --t7f9b7e1603e20b94: #fff;
}
html[color-version=v2_0][dark],
[color-version=v2_0] [dark] {
  --yt-spec-additive-background: rgba(255, 255, 255, 0.1);
  --yt-spec-additive-background-inverse: rgba(0, 0, 0, 0.05);
  --yt-spec-background-complete: rgba(0, 63, 13, 0.6);
  --yt-spec-background-warning: rgba(124, 41, 0, 0.6);
  --yt-spec-base-background: #0f0f0f;
  --yt-spec-brand-red-contrast: #f57;
  --yt-spec-button-chip-background-hover: rgba(255, 255, 255, 0.2);
  --yt-spec-call-to-action: #3ea6ff;
  --yt-spec-call-to-action-hover: #65b8ff;
  --yt-spec-call-to-action-inverse: #065fd4;
  --yt-spec-error-background-red: rgba(255, 85, 119, 0.2);
  --yt-spec-error-indicator: #f57;
  --yt-spec-error-indicator-inverse: #c30027;
  --yt-spec-feed-vibrant-gradient1: #007a65;
  --yt-spec-feed-vibrant-gradient2: #7f0e7f;
  --yt-spec-feed-vibrant-gradient3: #f57;
  --yt-spec-frosted-glass-desktop: rgba(15, 15, 15, 0.8);
  --yt-spec-frosted-glass-mobile: rgba(15, 15, 15, 0.7);
  --yt-spec-genai-1: #007a65;
  --yt-spec-genai-1-additive: rgba(0, 122, 101, 0.3);
  --yt-spec-genai-2: #7f0e7f;
  --yt-spec-genai-2-additive: rgba(127, 14, 127, 0.3);
  --yt-spec-genai-3: #aa09aa;
  --yt-spec-genai-3-additive: rgba(170, 9, 170, 0.3);
  --yt-spec-genai-4: #ff4e45;
  --yt-spec-genai-4-additive: rgba(255, 78, 69, 0.3);
  --yt-spec-inverse-rim: rgba(255, 255, 255, 0.2);
  --yt-spec-inverse-wash: rgba(255, 255, 255, 0.3);
  --yt-spec-inverted-background: #f1f1f1;
  --yt-spec-inverted-background-hover: #d9d9d9;
  --yt-spec-keyboard-background: #171c23;
  --yt-spec-keyboard-background-action: #d5e3fc;
  --yt-spec-keyboard-background-bar: #2b3138;
  --yt-spec-keyboard-background-emoji: #171c23;
  --yt-spec-keyboard-background-key: #2b3138;
  --yt-spec-keyboard-background-key-alt: #42474f;
  --yt-spec-keyboard-background-switch: #a0abcb;
  --yt-spec-keyboard-divider: #30353b;
  --yt-spec-keyboard-text-action: #171c23;
  --yt-spec-keyboard-text-character: #ecf1fb;
  --yt-spec-keyboard-text-chevron: #fff;
  --yt-spec-keyboard-text-icon: #fff;
  --yt-spec-keyboard-text-symbol: #c5cbd4;
  --yt-spec-menu-background: #282828;
  --yt-spec-mono-filled-hover: #d9d9d9;
  --yt-spec-mono-filled-hover-inverse: #272727;
  --yt-spec-mono-tonal-hover: rgba(255, 255, 255, 0.2);
  --yt-spec-mono-tonal-hover-inverse: rgba(0, 0, 0, 0.1);
  --yt-spec-outline: rgba(255, 255, 255, 0.2);
  --yt-spec-outline-inverse: rgba(0, 0, 0, 0.1);
  --yt-spec-outline-inverse-opaque: #e5e5e5;
  --yt-spec-outline-opaque: #3f3f3f;
  --yt-spec-outline-rim: rgba(255, 255, 255, 0.15);
  --yt-spec-overlay-additive-background: rgba(40, 40, 40, 0.6);
  --yt-spec-overlay-background-brand: rgba(225, 0, 45, 0.9);
  --yt-spec-overlay-background-extra-light: rgba(0, 0, 0, 0.03);
  --yt-spec-overlay-background-heavy: rgba(0, 0, 0, 0.8);
  --yt-spec-overlay-background-light: rgba(0, 0, 0, 0.1);
  --yt-spec-overlay-background-medium: rgba(0, 0, 0, 0.6);
  --yt-spec-overlay-background-medium-heavy: rgba(0, 0, 0, 0.4);
  --yt-spec-overlay-background-medium-light: rgba(0, 0, 0, 0.3);
  --yt-spec-overlay-background-solid: #000;
  --yt-spec-overlay-button-primary: rgba(255, 255, 255, 0.3);
  --yt-spec-overlay-button-secondary: rgba(255, 255, 255, 0.1);
  --yt-spec-overlay-button-secondary-darker: rgba(255, 255, 255, 0.2);
  --yt-spec-overlay-call-to-action: #3ea6ff;
  --yt-spec-overlay-call-to-action-hover: #65b8ff;
  --yt-spec-overlay-filled-hover: #e6e6e6;
  --yt-spec-overlay-green: #2ba640;
  --yt-spec-overlay-inverse-rim: rgba(255, 255, 255, 0.2);
  --yt-spec-overlay-inverse-wash: #fff;
  --yt-spec-overlay-outline-rim: rgba(255, 255, 255, 0.15);
  --yt-spec-overlay-text-disabled: rgba(255, 255, 255, 0.3);
  --yt-spec-overlay-text-primary: #fff;
  --yt-spec-overlay-text-primary-inverse: #030303;
  --yt-spec-overlay-text-secondary: rgba(255, 255, 255, 0.7);
  --yt-spec-overlay-tonal-hover: rgba(255, 255, 255, 0.2);
  --yt-spec-overlay-tonal-rim: rgba(255, 255, 255, 0.15);
  --yt-spec-overlay-tonal-wash: rgba(255, 255, 255, 0.15);
  --yt-spec-overlay-touch-response: #fff;
  --yt-spec-overlay-touch-response-inverse: #000;
  --yt-spec-raised-background: #212121;
  --yt-spec-red-indicator: #e1002d;
  --yt-spec-shadow-medium: rgba(0, 0, 0, 0.25);
  --yt-spec-static-ad-yellow: #fbc02d;
  --yt-spec-static-black: #0f0f0f;
  --yt-spec-static-brand-black: #000;
  --yt-spec-static-brand-red: #f03;
  --yt-spec-static-brand-white: #fff;
  --yt-spec-static-clear-black: transparent;
  --yt-spec-static-clear-color: transparent;
  --yt-spec-static-grey: #606060;
  --yt-spec-static-magenta: #ff2791;
  --yt-spec-static-medium-magenta: #e01378;
  --yt-spec-static-white-background: #fff;
  --yt-spec-status-bar: #fff;
  --yt-spec-suggested-action: #263850;
  --yt-spec-suggested-action-hover: #515561;
  --yt-spec-suggested-action-inverse: #def1ff;
  --yt-spec-system-bar: #fff;
  --yt-spec-text-complete: #a4ffa4;
  --yt-spec-text-disabled: #717171;
  --yt-spec-text-disabled-inverse: #909090;
  --yt-spec-text-error: #ffbfbd;
  --yt-spec-text-primary: #f1f1f1;
  --yt-spec-text-primary-inverse: #0f0f0f;
  --yt-spec-text-secondary: #aaa;
  --yt-spec-text-secondary-inverse: #606060;
  --yt-spec-text-warning: #ffcd97;
  --yt-spec-themed-green: #2ba640;
  --yt-spec-themed-green-inverse: #107516;
  --yt-spec-themed-overlay-background: rgba(0, 0, 0, 0.8);
  --yt-spec-tonal-rim: rgba(255, 255, 255, 0.15);
  --yt-spec-tonal-wash: rgba(255, 255, 255, 0.05);
  --yt-spec-touch-response: #fff;
  --yt-spec-touch-response-inverse: #000;
  --yt-spec-wordmark-text: #fff;
  --yt-spec-expressive-trend-10: #fbfee6;
  --yt-spec-expressive-trend-20: #f5ffb7;
  --yt-spec-expressive-trend-30: #ecfd83;
  --yt-spec-expressive-trend-40: #dafd00;
  --yt-spec-expressive-trend-50: #bbe900;
  --yt-spec-expressive-trend-60: #8abb03;
  --yt-spec-expressive-trend-70: #5c7e00;
  --yt-spec-assistive-feed-vibrant-gradient-1: #007a65;
  --yt-spec-assistive-feed-vibrant-gradient-2: #7f0e7f;
  --yt-spec-assistive-feed-vibrant-gradient-3: #ff8983;
  --yt-spec-assistive-feed-themed-gradient-1: #005446;
  --yt-spec-assistive-feed-themed-gradient-2: #39003f;
  --yt-spec-assistive-feed-themed-gradient-3: #590000;
  --yt-spec-scrim-background-gradient-1: rgba(15, 15, 15, 0);
  --yt-spec-scrim-background-gradient-2: rgba(15, 15, 15, 0.3);
  --yt-spec-scrim-background-gradient-3: rgba(15, 15, 15, 0.6);
  --yt-spec-scrim-background-gradient-4: rgba(15, 15, 15, 0.9);
  --yt-spec-scrim-background-gradient-5: #0f0f0f;
  --yt-deprecated-overlay-icon-active-other: #fff;
  --yt-deprecated-general-background-a: var(--yt-spec-base-background);
  --yt-deprecated-general-background-b: var(--yt-spec-base-background);
  --yt-deprecated-general-background-c: var(--yt-spec-base-background);
}

body {
  margin: 0;
  padding: 0;
  font-size: 10px;
  font-family: Roboto, Arial, sans-serif;
  background: var(--yt-spec-base-background);
}

#container.blocking-channel {
  box-sizing: border-box;
}

#container.blocking-channel h3 {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.8em;
  line-height: 2.6em;
  font-weight: 900;
}
#container.blocking-channel p {
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 1.4em;
  line-height: 2em;
  font-weight: 400;
}

#container.blocking-channel .btn-blocking {
  color: var(--tffc2fd3a644f6275);
  background: var(--t7f4f2c6d54836ce0);
  font-size: 1.4em;
  line-height: 3.6em;
}